.chatPage {
    max-width: 800px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid var(--bg-white); 
    border-Radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1)
} 

.queryForm {
    background-color: var(--message-box);
    border-Radius: 6px; 
    border: 1px solid var(--bg-dark);
    display: flex;
    padding: 1rem;
}

.formArea {
    width: 95%; 
    padding: 10px;
    margin-right: 1rem;
    border-Radius: 4px; 
    background-color: var(--message-box);
}

.formArea:focus {
    outline: 0;
}

.submitBtn {
    background: url(./assets/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 3rem;
    min-height: 3rem;
    color: var(--bg-white); 
    border: none;
    border: 1px solid var(--bg-dark);
    border-Radius: 60px;
    cursor: pointer
}

.historyBar {
    margin-Top: 20px; 
    border-Top: 1px solid #eee; 
    padding-Top: 15px
}

.chatMsg {
    margin-Bottom: 10px; 
    padding: 8px; 
    border-Radius: 4px;
    border: 1px solid #252525;
}

