/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  animation: fadeIn 0.5s ease-in-out;
}